# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Projects
*.DS_Store
*.idea
*.data
*.bin
*.log
.env

# Deprecated files (migration artifacts) golang projects
/deprecated/
/bin/
/logs/
/data/
