<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>epay</title>
		<script src="{{.PaymentJsLink}}"></script>
	</head>
	<body>
		<script>
			var createPaymentObject = function(token, invoiceId, amount) {
				var paymentObject = {
						invoiceId: {{.InvoiceID}},
						backLink: {{.BackLink}},
						failureBackLink: {{.FailureBackLink}},
						postLink: {{.PostLink}},
						failurePostLink: {{.FailurePostLink}},
						language: {{.Language}},
						description: {{.Description}},
						accountId: {{.AccountID}},
						terminal: {{.TerminalID}},
						amount: {{.Amount}},
						currency: {{.Currency}},
						phone: {{.Phone}},
						cardSave: {{.CardSave}},
						homebankToken: {{.HomebankToken}}
					};
				paymentObject.auth = token;
				return paymentObject;
			};
			halyk.pay(createPaymentObject({{.Token}}, {{.InvoiceID}}, {{.Amount}}));
		</script>
	</body>
</html>